body {
    color: rgb(236, 138, 223);
    background: rgb(198, 164, 232);
    margin: 0px;
}
header {
    border-bottom: solid 2px rgb(213, 49, 158);
    padding: 20px;
   font-size: 32px;
   color: rgb(172, 7, 223);
}
section {
    background: rgb(30, 7, 55);
    padding-bottom: 80px;
    padding-top: 80px;
}